### Extracción y Carga Raw Data Censo Poblacion
#### Diciembre 2020
##### Rodrigo Riveros

Utilizamos entorno con
- Python 3
- Pandas
- xlrd
- feather (pip install feather-format)


http://www.censo2017.cl/descargue-aqui-resultados-de-comunas/

In [1]:
# Importamos librerias de trabajo
import pandas as pd
import feather

In [2]:
#definimos directorio de rawdata
rawdata = '../data/raw/'

# #definimos directorio de data intermedia
interimdata = '../data/interim/'

# #definimos directorio de data externa
external = '../data/external/'

In [3]:
# Cargamos rawdata de excel Resumen
xlsx = pd.ExcelFile(rawdata + 'Cantidad-de-Personas-por-Sexo-y-Edad.xlsx')

In [4]:
# Transformamos hojas del excel en df
# nos saltamos la primera fila y cargamos solo las columnas desde la B a la L
#rawcenso = pd.read_excel(xlsx, 'COMUNAS', skiprows=[0], usecols="B:L")
rawcenso = pd.read_excel(xlsx, 'COMUNAS', skiprows=range(0,1), usecols="B:L",skipfooter=1)

In [5]:
rawcenso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7634 entries, 0 to 7633
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDEN             7634 non-null   int64
 1   NOMBRE REGIÓN     7634 non-null   object
 2   Código Región     7634 non-null   object
 3   NOMBRE PROVINCIA  7634 non-null   object
 4   Código Provincia  7634 non-null   object
 5   NOMBRE COMUNA     7634 non-null   object
 6   Código Comuna     7634 non-null   object
 7   Edad              7634 non-null   object
 8   Hombres           7634 non-null   int64
 9   Mujeres           7634 non-null   int64
 10  TOTAL             7634 non-null   int64
dtypes: int64(4), object(7)
memory usage: 656.2+ KB

In [6]:
# arreglamos los espacios en los nombres de columnas
rawcenso.columns = [c.replace(' ', '_') for c in rawcenso.columns]

In [7]:
rawcenso.head(5)

,ORDEN,NOMBRE_REGIÓN,Código_Región,NOMBRE_PROVINCIA,Código_Provincia,NOMBRE_COMUNA,Código_Comuna,Edad,Hombres,Mujeres,TOTAL
0,0,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,Total País,8601989,8972014,17574003
1,1,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,0 a 4,594059,572087,1166146
2,2,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,5 a 9,618121,592068,1210189
3,3,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,10 a 14,585855,561560,1147415
4,4,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,PAÍS,15 a 19,636064,608633,1244697

In [8]:
rawcenso.tail(5)

,ORDEN,NOMBRE_REGIÓN,Código_Región,NOMBRE_PROVINCIA,Código_Provincia,NOMBRE_COMUNA,Código_Comuna,Edad,Hombres,Mujeres,TOTAL
7629,7629,MAGALLANES Y DE LA ANTÁRTICA CHILENA,12,ÚLTIMA ESPERANZA,124,TORRES DEL PAINE,12402,80 a 84,2,2,4
7630,7630,MAGALLANES Y DE LA ANTÁRTICA CHILENA,12,ÚLTIMA ESPERANZA,124,TORRES DEL PAINE,12402,85 a 89,0,1,1
7631,7631,MAGALLANES Y DE LA ANTÁRTICA CHILENA,12,ÚLTIMA ESPERANZA,124,TORRES DEL PAINE,12402,90 a 94,0,0,0
7632,7632,MAGALLANES Y DE LA ANTÁRTICA CHILENA,12,ÚLTIMA ESPERANZA,124,TORRES DEL PAINE,12402,95 a 99,0,0,0
7633,7633,MAGALLANES Y DE LA ANTÁRTICA CHILENA,12,ÚLTIMA ESPERANZA,124,TORRES DEL PAINE,12402,100 o más,0,0,0

In [9]:
# revisamos Region
print('Region: ',rawcenso.Código_Región.unique(),'\n')

Region:  ['PAÍS' 15 1 2 3 4 5 13 6 7 8 9 14 10 11 12]

In [10]:
# eliminamos las filas agregadas de pais
indices = rawcenso[rawcenso["Código_Región"] == "PAÍS"].index
rawcenso.drop(indices , inplace=True)

In [11]:
# revisamos Region
print('Edad: ',rawcenso.Edad.unique(),'\n')

Edad:  ['Total Comunal' '0 a 4' '5 a 9' '10 a 14' '15 a 19' '20 a 24' '25 a 29'
 '30 a 34' '35 a 39' '40 a 44' '45 a 49' '50 a 54' '55 a 59' '60 a 64'
 '65 a 69' '70 a 74' '75 a 79' '80 a 84' '85 a 89' '90 a 94' '95 a 99'
 '100 o más']

In [12]:
# solo dejamos los totales por comuna
indices = rawcenso[rawcenso["Edad"] != "Total Comunal"].index
rawcenso.drop(indices , inplace=True)

In [13]:
# reindexamos la tabla
rawcenso.reset_index(drop=True, inplace=True)

In [14]:
# Guardamos data intermedia en formato binario
rawcenso.to_feather(interimdata + '100Censo.ftr')

In [15]:
# Cargamos data desde binario
rawcenso = pd.read_feather(interimdata + '100Censo.ftr', columns=None, use_threads=True);

In [16]:
rawcenso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346 entries, 0 to 345
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDEN             346 non-null    int64
 1   NOMBRE_REGIÓN     346 non-null    object
 2   Código_Región     346 non-null    int64
 3   NOMBRE_PROVINCIA  346 non-null    object
 4   Código_Provincia  346 non-null    int64
 5   NOMBRE_COMUNA     346 non-null    object
 6   Código_Comuna     346 non-null    int64
 7   Edad              346 non-null    object
 8   Hombres           346 non-null    int64
 9   Mujeres           346 non-null    int64
 10  TOTAL             346 non-null    int64
dtypes: int64(7), object(4)
memory usage: 29.9+ KB

In [17]:
rawcenso.sample(3)

,ORDEN,NOMBRE_REGIÓN,Código_Región,NOMBRE_PROVINCIA,Código_Provincia,NOMBRE_COMUNA,Código_Comuna,Edad,Hombres,Mujeres,TOTAL
14,330,ANTOFAGASTA,2,ANTOFAGASTA,21,TALTAL,2104,Total Comunal,7481,5836,13317
89,1980,METROPOLITANA DE SANTIAGO,13,SANTIAGO,131,INDEPENDENCIA,13108,Total Comunal,49186,51095,100281
231,5104,BIOBÍO,8,ÑUBLE * desde sept. 2018 región ÑUBLE,84,BULNES *,8402,Total Comunal,10382,11111,21493